@model (List<Category> categories, List<Product> products)
@{
    ViewData["Title"] = "Home Page"; 
}

<div class="text-center"> 
    <div align="left">
        <h2>Categories</h2>
        <ul>
            @foreach (var category in Model.categories)
            {
                <li>
                    <a href="@Url.Action("ProductsByCategory", "Home", new { category = category.IdCategory })">
                        @category.StrCategory
                    </a>
                </li>
            }
        </ul>
    </div>
    <div >
        <h2>Products</h2>
        <ul>
            @foreach (var product in Model.products)
            {
                <li>
                    <a href="@Url.Action("ProductInfo", "Product", new { idProduct = product.IdProduct })">
                        @product.StrProduct - @product.Price @product.Curency
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
