@model Product

<div>
    <h1>@Model.StrProduct</h1>
    <p><strong>Price:</strong> @Model.Price @Model.Curency</p> 
    @if (@Model.SrtProductThumb.Count > 0)
    {
        <img src="@Model.SrtProductThumb[0]" height="250px" width="250px"/>
    }
    else
    {
        <p><strong>картинка отсутсвует</strong></p>
    }
    @*@foreach (var img in @Model.SrtProductThumb)
    {
        <img src="@img" height="250px" width="250px"/>
    }*@
</div>